/* screen - web-1920-45 */

.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-11px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-25px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-34px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.border-1-5px-green-pea {
  border: 1.5px solid var(--green-pea);
}
.border-1px-green-pea {
  border: 1px solid var(--green-pea);
}
.border-2px-green-blue {
  border: 2px solid var(--green-blue);
}
.border-2px-green-pea {
  border: 2px solid var(--green-pea);
}
.border-2px-white {
  border: 2px solid var(--white);
}
.border-3px-green-pea {
  border: 3px solid var(--green-pea);
}
.border-4px-green-pea {
  border: 4px solid var(--green-pea);
}
.border-class-1 {
  border: 1px solid rgba(38,97,65,0.627);
}
.opensans-bold-white-11px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.opensans-bold-white-25px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.opensans-normal-green-pea-20px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-23px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-40px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.trajanpro3-bold-green-pea-50px {
  color: var(--green-pea);
  font-family: 'TrajanPro 3-Bold', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-45 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-45 .abby-star-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 182px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 155px;
}
.web-1920-45 .drafts-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 118px;
}
.web-1920-45 .ellipse-12-RH0WJ5 {
  background-color: transparent;
  border-radius: 64.5px/59px;
  height: 118px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 129px;
}
.web-1920-45 .ellipse-43-RH0WJ5 {
  background-color: var(--galliano);
  border-radius: 8.5px;
  height: 17px;
  left: 1814px;
  position: absolute;
  top: 68px;
  width: 17px;
}
.web-1920-45 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 732px;
  justify-content: flex-start;
  margin-right: 41.0px;
  margin-top: 79px;
  min-width: 1539px;
  position: relative;
  width: auto;
}
.web-1920-45 .hey-tracyjust-w-let-me-knowabby-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 300px;
  white-space: nowrap;
  width: auto;
}
.web-1920-45 .icons-q2-7BbgWW {
  background-color: transparent;
  background-image: url(../img/path-18-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-45 .icons-q2-LU53y3 {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-45 .icons-q2-PBCyKg {
  background-color: transparent;
  background-image: url(../img/path-25-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-45 .icons-q2-RJnCk2 {
  background-color: transparent;
  background-image: url(../img/path-18-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-45 .icons-q2-cRKBoe {
  background-color: transparent;
  background-image: url(../img/path-40-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 49px;
}
.web-1920-45 .icons-q2-oFSGHE {
  background-color: transparent;
  background-image: url(../img/path-15-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 54px;
  position: absolute;
  right: calc(49.96% - 15px);
  top: calc(50.00% - 27px);
  width: 31px;
}
.web-1920-45 .icons-q2-r4Nqgd {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 5px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 10px);
}
.web-1920-45 .icons-q2-tvjFNW {
  background-color: transparent;
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 4px);
  left: 4px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 8px);
}
.web-1920-45 .icons-q2-ykNAhA {
  background-color: transparent;
  background-image: url(../img/path-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 14px);
  left: 2px;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 4px);
}
.web-1920-45 .inbox-h7LeMT {
  background-color: transparent;
  color: var(--galliano);
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 448px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 86px;
}
.web-1920-45 .invisible-box-7BbgWW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-LU53y3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-PBCyKg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-RJnCk2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-cRKBoe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 58px;
}
.web-1920-45 .invisible-box-h7FcoT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-oFSGHE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-r4Nqgd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-tvjFNW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .invisible-box-ykNAhA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-45 .layer-2-QnifDS {
  background-color: transparent;
  height: 48px;
  left: 1114px;
  position: absolute;
  top: 61px;
  width: 48px;
}
.web-1920-45 .layer-2-RH0WJ5 {
  background-color: transparent;
  height: 48px;
  left: 1678px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-45 .layer-2-Vr48xL {
  background-color: transparent;
  height: 48px;
  left: 1784px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-45 .layer-2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 92px;
  margin-top: 65px;
  position: relative;
  width: 92px;
}
.web-1920-45 .layer-2-gVmx94 {
  background-color: transparent;
  height: 24px;
  left: 200px;
  position: absolute;
  top: 588px;
  width: 24px;
}
.web-1920-45 .layer-2-h7LeMT {
  background-color: transparent;
  height: 48px;
  left: 1186px;
  position: absolute;
  top: 61px;
  width: 48px;
}
.web-1920-45 .layer-2-s3i1G8 {
  background-color: transparent;
  height: 48px;
  left: 1582px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-45 .layer-2-vVuCbZ {
  background-color: transparent;
  height: 40px;
  left: 979px;
  position: absolute;
  top: 64px;
  width: 39px;
}
.web-1920-45 .layer-2-wN84x2 {
  background-color: transparent;
  height: 58px;
  left: 10px;
  position: absolute;
  top: 63px;
  width: 94px;
}
.web-1920-45 .layer-2-yohbnZ {
  background-color: transparent;
  height: 48px;
  left: 1042px;
  position: absolute;
  top: 61px;
  width: 48px;
}
.web-1920-45 .messages-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 60px;
  white-space: nowrap;
  width: 325px;
}
.web-1920-45 .overlap-group-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 732px;
  margin-left: 61px;
  position: relative;
  width: 1386px;
}
.web-1920-45 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 179px;
  margin-top: 0px;
  position: relative;
  width: 1921px;
}
.web-1920-45 .path-22-Md8KRA {
  background-color: transparent;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-45 .path-23-Md8KRA {
  background-color: transparent;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 100%;
}
.web-1920-45 .path-24-Md8KRA {
  background-color: transparent;
  bottom: 0px;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.web-1920-45 .path-26-tiLPi1 {
  background-color: transparent;
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-45 .path-27-tiLPi1 {
  background-color: transparent;
  bottom: 1px;
  height: 30px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}
.web-1920-45 .q3-icons-h7FcoT {
  background-color: transparent;
  background-image: url(../img/path-43@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 6px);
  left: 1px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 2px);
}
.web-1920-45 .rectangle-169-h7LeMT {
  background-color: rgba(38,97,65,0.184);
  border-radius: 24px;
  height: 39px;
  left: 182px;
  position: absolute;
  top: 580px;
  width: 115px;
}
.web-1920-45 .rectangle-20-h7LeMT {
  background-color: var(--white);
  border-radius: 70px;
  height: 732px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1354px;
}
.web-1920-45 .rectangle-51-RH0WJ5 {
  background-color: var(--green-pea-2);
  height: 179px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1921px;
}
.web-1920-45 .rectangle-85-h7LeMT {
  background-color: var(--green-pea);
  height: 61px;
  left: 959px;
  position: absolute;
  top: 56px;
  width: 65px;
}
.web-1920-45 .rectangle-86-h7LeMT {
  background-color: var(--galliano);
  border-radius: 16px;
  height: 56px;
  left: 969px;
  position: absolute;
  top: 57px;
  width: 57px;
}
.web-1920-45 .rectangle-9-h7LeMT {
  background-color: transparent;
  border-radius: 31px;
  height: 501px;
  left: 74px;
  position: absolute;
  top: 157px;
  width: 1207px;
}
.web-1920-45 .reply-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 233px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 588px;
  width: 61px;
}
.web-1920-45 .sent-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 569px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 86px;
}
.web-1920-45 .tracy-brown-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  width: 237px;
}
.web-1920-45 .x1123-am-march-10-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1066px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 189px;
  width: 320px;
}
.web-1920-45 .x2-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 1820px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 68px;
  width: 30px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cararra: rgba(235,235,235,1.0);
  --concrete: rgba(242,242,242,1.0);
  --galliano: rgba(219,170,0,1.0);
  --green-blue: rgba(31,120,180,1.0);
  --green-pea: rgba(38,97,65,1.0);
  --green-pea-2: rgba(38,97,65,0.992);
  --shady-lady: rgba(170,170,170,1.0);
  --tundora: rgba(68,68,68,1.0);
  --white: rgba(255,255,255,1.0);
}
