/* screen - web-1920-34 */

.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-11px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-25px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-34px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.border-1-5px-green-pea {
  border: 1.5px solid var(--green-pea);
}
.border-1px-green-pea {
  border: 1px solid var(--green-pea);
}
.border-2px-green-blue {
  border: 2px solid var(--green-blue);
}
.border-2px-green-pea {
  border: 2px solid var(--green-pea);
}
.border-2px-white {
  border: 2px solid var(--white);
}
.border-3px-green-pea {
  border: 3px solid var(--green-pea);
}
.border-4px-green-pea {
  border: 4px solid var(--green-pea);
}
.border-class-1 {
  border: 1px solid rgba(38,97,65,0.627);
}
.opensans-bold-white-11px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.opensans-bold-white-25px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.opensans-normal-green-pea-20px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-23px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-40px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.trajanpro3-bold-green-pea-50px {
  color: var(--green-pea);
  font-family: 'TrajanPro 3-Bold', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-34 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-34 .edit-here-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 174px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 710px;
  width: 127px;
}
.web-1920-34 .ellipse-12-RH0WJ5 {
  background-color: transparent;
  border-radius: 64.5px/59px;
  height: 118px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 129px;
}
.web-1920-34 .ellipse-12-h7LeMT {
  background-color: transparent;
  border-radius: 64.5px/59px;
  height: 118px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 63px;
  width: 129px;
}
.web-1920-34 .ellipse-43-RH0WJ5 {
  background-color: var(--galliano);
  border-radius: 8.5px;
  height: 17px;
  left: 1814px;
  position: absolute;
  top: 68px;
  width: 17px;
}
.web-1920-34 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 792px;
  justify-content: flex-start;
  margin-right: 187.0px;
  margin-top: 44px;
  min-width: 1393px;
  position: relative;
  width: auto;
}
.web-1920-34 .icons-q2-LU53y3 {
  background-color: transparent;
  background-image: url(../img/path-30@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 7px);
  left: 3px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 7px);
}
.web-1920-34 .icons-q2-RJnCk2 {
  background-color: transparent;
  background-image: url(../img/path-18-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-34 .icons-q2-cRKBoe {
  background-color: transparent;
  background-image: url(../img/path-40-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 49px;
}
.web-1920-34 .icons-q2-oFSGHE {
  background-color: transparent;
  background-image: url(../img/path-15@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 54px;
  position: absolute;
  right: calc(49.96% - 15px);
  top: calc(50.00% - 27px);
  width: 31px;
}
.web-1920-34 .icons-q2-r4Nqgd {
  background-color: transparent;
  background-image: url(../img/path-41@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 6px);
  left: 3px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 6px);
}
.web-1920-34 .icons-q2-tvjFNW {
  background-color: transparent;
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 4px);
  left: 4px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 8px);
}
.web-1920-34 .icons-q2-ykNAhA {
  background-color: transparent;
  background-image: url(../img/path-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 14px);
  left: 2px;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 4px);
}
.web-1920-34 .invisible-box-LU53y3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .invisible-box-RJnCk2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .invisible-box-cRKBoe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 58px;
}
.web-1920-34 .invisible-box-oFSGHE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .invisible-box-r4Nqgd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .invisible-box-tvjFNW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .invisible-box-ykNAhA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-34 .layer-2-QnifDS {
  background-color: transparent;
  height: 38px;
  left: 382px;
  position: absolute;
  top: 708px;
  width: 38px;
}
.web-1920-34 .layer-2-RH0WJ5 {
  background-color: transparent;
  height: 48px;
  left: 1678px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-34 .layer-2-Vr48xL {
  background-color: transparent;
  height: 48px;
  left: 1784px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-34 .layer-2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 92px;
  margin-top: 100px;
  position: relative;
  width: 92px;
}
.web-1920-34 .layer-2-h7LeMT {
  background-color: transparent;
  height: 41px;
  left: 118px;
  position: absolute;
  top: 704px;
  width: 41px;
}
.web-1920-34 .layer-2-s3i1G8 {
  background-color: transparent;
  height: 48px;
  left: 1582px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-34 .layer-2-wN84x2 {
  background-color: transparent;
  height: 58px;
  left: 10px;
  position: absolute;
  top: 63px;
  width: 94px;
}
.web-1920-34 .log-out-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 436px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 711px;
  width: 183px;
}
.web-1920-34 .overlap-group-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 792px;
  margin-left: 147px;
  position: relative;
  width: 1154px;
}
.web-1920-34 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 179px;
  margin-top: 0px;
  position: relative;
  width: 1921px;
}
.web-1920-34 .path-42-tiLPi1 {
  background-color: transparent;
  height: calc(100.00% - 14px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 22px;
}
.web-1920-34 .rectangle-1-h7LeMT {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 94px;
  position: absolute;
  top: 257px;
  width: 915px;
}
.web-1920-34 .rectangle-138-h7LeMT {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 94px;
  position: absolute;
  top: 412px;
  width: 915px;
}
.web-1920-34 .rectangle-139-h7LeMT {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 94px;
  position: absolute;
  top: 566px;
  width: 915px;
}
.web-1920-34 .rectangle-141-h7LeMT {
  background-color: var(--white);
  border-radius: 70px;
  height: 792px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1154px;
}
.web-1920-34 .rectangle-51-RH0WJ5 {
  background-color: var(--green-pea-2);
  height: 179px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1921px;
}
.web-1920-34 .tracy-brown-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  width: 237px;
}
.web-1920-34 .tracy-brown-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 269px;
  width: 501px;
}
.web-1920-34 .tracybrown123-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 423px;
  width: 501px;
}
.web-1920-34 .x-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 582px;
  width: 501px;
}
.web-1920-34 .x2-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 1820px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 68px;
  width: 30px;
}
.web-1920-34 .your-account-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 63px;
  width: 369px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cararra: rgba(235,235,235,1.0);
  --concrete: rgba(242,242,242,1.0);
  --galliano: rgba(219,170,0,1.0);
  --green-blue: rgba(31,120,180,1.0);
  --green-pea: rgba(38,97,65,1.0);
  --green-pea-2: rgba(38,97,65,0.992);
  --shady-lady: rgba(170,170,170,1.0);
  --tundora: rgba(68,68,68,1.0);
  --white: rgba(255,255,255,1.0);
}
