/* screen - web-1920-19 */

.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-11px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-25px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-34px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.border-1-5px-green-pea {
  border: 1.5px solid var(--green-pea);
}
.border-1px-green-pea {
  border: 1px solid var(--green-pea);
}
.border-2px-green-blue {
  border: 2px solid var(--green-blue);
}
.border-2px-green-pea {
  border: 2px solid var(--green-pea);
}
.border-2px-white {
  border: 2px solid var(--white);
}
.border-3px-green-pea {
  border: 3px solid var(--green-pea);
}
.border-4px-green-pea {
  border: 4px solid var(--green-pea);
}
.border-class-1 {
  border: 1px solid rgba(38,97,65,0.627);
}
.opensans-bold-white-11px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.opensans-bold-white-25px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.opensans-normal-green-pea-20px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-23px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-40px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.trajanpro3-bold-green-pea-50px {
  color: var(--green-pea);
  font-family: 'TrajanPro 3-Bold', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-19 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-19 .ellipse-2-RH0WJ5 {
  background-color: transparent;
  border-radius: 72px/63px;
  height: 126px;
  left: 236px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 144px;
}
.web-1920-19 .ellipse-43-RH0WJ5 {
  background-color: var(--galliano);
  border-radius: 8.5px;
  height: 17px;
  left: 1814px;
  position: absolute;
  top: 68px;
  width: 17px;
}
.web-1920-19 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 788px;
  justify-content: flex-start;
  margin-right: 133.0px;
  margin-top: 55px;
  min-width: 1375px;
  position: relative;
  width: auto;
}
.web-1920-19 .icons-q2-LU53y3 {
  background-color: transparent;
  height: calc(100.00% - 22px);
  left: 4px;
  position: absolute;
  top: 11px;
  width: calc(100.00% - 7px);
}
.web-1920-19 .icons-q2-RJnCk2 {
  background-color: transparent;
  background-image: url(../img/path-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-19 .icons-q2-cRKBoe {
  background-color: transparent;
  background-image: url(../img/path-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 49px;
}
.web-1920-19 .icons-q2-oFSGHE {
  background-color: transparent;
  background-image: url(../img/path-15-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 54px;
  position: absolute;
  right: calc(49.96% - 15px);
  top: calc(50.00% - 27px);
  width: 31px;
}
.web-1920-19 .icons-q2-r4Nqgd {
  background-color: transparent;
  background-image: url(../img/path-35@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 6px;
  height: 33px;
  left: 7px;
  position: absolute;
  width: calc(100.00% - 13px);
}
.web-1920-19 .icons-q2-tvjFNW {
  background-color: transparent;
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 4px);
  left: 4px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 8px);
}
.web-1920-19 .icons-q2-ykNAhA {
  background-color: transparent;
  background-image: url(../img/path-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 14px);
  left: 2px;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 4px);
}
.web-1920-19 .inventory-214-h7LeMT {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 351px;
}
.web-1920-19 .invisible-box-LU53y3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-19 .invisible-box-RJnCk2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-19 .invisible-box-cRKBoe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 58px;
}
.web-1920-19 .invisible-box-oFSGHE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-19 .invisible-box-r4Nqgd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-19 .invisible-box-tvjFNW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-19 .invisible-box-ykNAhA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-19 .item-4-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: 53px;
  left: 569px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 57px;
  width: 175px;
}
.web-1920-19 .layer-2-QnifDS {
  background-color: transparent;
  height: 46px;
  left: 775px;
  position: absolute;
  top: 556px;
  width: 46px;
}
.web-1920-19 .layer-2-RH0WJ5 {
  background-color: transparent;
  height: 48px;
  left: 1678px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-19 .layer-2-Vr48xL {
  background-color: transparent;
  height: 48px;
  left: 1784px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-19 .layer-2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 92px;
  margin-top: 35px;
  position: relative;
  width: 92px;
}
.web-1920-19 .layer-2-h7LeMT {
  background-color: transparent;
  height: 92px;
  left: 664px;
  position: absolute;
  top: 533px;
  width: 92px;
}
.web-1920-19 .layer-2-s3i1G8 {
  background-color: transparent;
  height: 48px;
  left: 1582px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-19 .layer-2-wN84x2 {
  background-color: transparent;
  height: 58px;
  left: 94px;
  position: absolute;
  top: 68px;
  width: 94px;
}
.web-1920-19 .metal-midcentur-good-condition-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 264px;
  width: 981px;
}
.web-1920-19 .midcendesk-h7LeMT {
  background-color: transparent;
  height: 335px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 411px;
  width: 437px;
}
.web-1920-19 .midcentury-desk-h7LeMT {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 168px;
  width: 535px;
}
.web-1920-19 .overlap-group-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 788px;
  margin-left: 129px;
  position: relative;
  width: 1154px;
}
.web-1920-19 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 179px;
  margin-top: 0px;
  position: relative;
  width: 1921px;
}
.web-1920-19 .path-33-Md8KRA {
  background-color: transparent;
  bottom: calc(38.89% - 14px);
  height: 35px;
  left: calc(50.00% - 17px);
  object-fit: cover;
  position: absolute;
  width: 35px;
}
.web-1920-19 .path-34-Md8KRA {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-19 .rectangle-143-h7LeMT {
  background-color: rgba(38,97,65,0.184);
  border-radius: 42px;
  height: 83px;
  left: 73px;
  position: absolute;
  top: 42px;
  width: 457px;
}
.web-1920-19 .rectangle-16-h7LeMT {
  background-color: var(--white);
  height: 117px;
  left: 79px;
  position: absolute;
  top: 247px;
  width: 965px;
}
.web-1920-19 .rectangle-51-RH0WJ5 {
  background-color: var(--green-pea-2);
  height: 179px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1921px;
}
.web-1920-19 .rectangle-68-h7LeMT {
  background-color: var(--white);
  border-radius: 61px;
  height: 788px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1154px;
}
.web-1920-19 .rectangle-9-h7LeMT {
  background-color: var(--white);
  height: 68px;
  left: 79px;
  position: absolute;
  top: 157px;
  width: 965px;
}
.web-1920-19 .robert-edwards-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 428px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 237px;
}
.web-1920-19 .x2-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 1820px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 68px;
  width: 30px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cararra: rgba(235,235,235,1.0);
  --concrete: rgba(242,242,242,1.0);
  --galliano: rgba(219,170,0,1.0);
  --green-blue: rgba(31,120,180,1.0);
  --green-pea: rgba(38,97,65,1.0);
  --green-pea-2: rgba(38,97,65,0.992);
  --shady-lady: rgba(170,170,170,1.0);
  --tundora: rgba(68,68,68,1.0);
  --white: rgba(255,255,255,1.0);
}
