/* screen - web-1920-18 */

.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-11px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-25px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-34px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.border-1-5px-green-pea {
  border: 1.5px solid var(--green-pea);
}
.border-1px-green-pea {
  border: 1px solid var(--green-pea);
}
.border-2px-green-blue {
  border: 2px solid var(--green-blue);
}
.border-2px-green-pea {
  border: 2px solid var(--green-pea);
}
.border-2px-white {
  border: 2px solid var(--white);
}
.border-3px-green-pea {
  border: 3px solid var(--green-pea);
}
.border-4px-green-pea {
  border: 4px solid var(--green-pea);
}
.border-class-1 {
  border: 1px solid rgba(38,97,65,0.627);
}
.opensans-bold-white-11px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.opensans-bold-white-25px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.opensans-normal-green-pea-20px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-23px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-green-pea-40px {
  color: var(--green-pea);
  font-family: 'Open Sans', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.trajanpro3-bold-green-pea-50px {
  color: var(--green-pea);
  font-family: 'TrajanPro 3-Bold', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.web-1920-18 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-18 .antique-clock-50s-84keex {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 369px;
}
.web-1920-18 .ellipse-10-B5xbR5 {
  background-color: var(--white);
  border-radius: 6px;
  height: 12px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 100%;
}
.web-1920-18 .ellipse-11-B5xbR5 {
  background-color: var(--white);
  border-radius: 6px;
  bottom: 0px;
  height: 12px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.web-1920-18 .ellipse-2-4eduM0 {
  background-color: transparent;
  border-radius: 72px/63px;
  height: 126px;
  left: 202px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 144px;
}
.web-1920-18 .ellipse-43-4eduM0 {
  background-color: var(--galliano);
  border-radius: 8.5px;
  height: 17px;
  left: 1814px;
  position: absolute;
  top: 68px;
  width: 17px;
}
.web-1920-18 .ellipse-9-B5xbR5 {
  background-color: var(--white);
  border-radius: 6px;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .flex-row-2P4qUJ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-right: 109.0px;
  margin-top: 26px;
  min-width: 967px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 711.0px;
  margin-top: 39px;
  min-width: 121px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-J1YQmd {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-right: 109.0px;
  margin-top: 26px;
  min-width: 967px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-QxM5SU {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-right: 109.0px;
  margin-top: 26px;
  min-width: 967px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 92px;
  justify-content: flex-start;
  margin-right: 299.0px;
  margin-top: 17px;
  min-width: 1221px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-mzXdH9 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-right: 109.0px;
  margin-top: 33px;
  min-width: 967px;
  position: relative;
  width: auto;
}
.web-1920-18 .flex-row-qr8e7q {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-right: 109.0px;
  margin-top: 26px;
  min-width: 967px;
  position: relative;
  width: auto;
}
.web-1920-18 .icons-q2-30U4XI {
  background-color: transparent;
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 4px);
  left: 4px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 8px);
}
.web-1920-18 .icons-q2-IF9YC5 {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-18 .icons-q2-Ogtyn9 {
  background-color: transparent;
  background-image: url(../img/path-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-18 .icons-q2-ZtXogr {
  background-color: transparent;
  background-image: url(../img/path-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 14px);
  left: 2px;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 4px);
}
.web-1920-18 .icons-q2-mN00xq {
  background-color: transparent;
  height: calc(100.00% - 4px);
  position: absolute;
  right: calc(47.22% - 6px);
  top: 2px;
  width: 12px;
}
.web-1920-18 .icons-q2-oFSGHE {
  background-color: transparent;
  background-image: url(../img/path-18-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}
.web-1920-18 .icons-q2-oKp30M {
  background-color: transparent;
  background-image: url(../img/path-15-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 54px;
  position: absolute;
  right: calc(49.96% - 15px);
  top: calc(50.00% - 27px);
  width: 31px;
}
.web-1920-18 .icons-q2-zotCyN {
  background-color: transparent;
  background-image: url(../img/path-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 49px;
}
.web-1920-18 .inventory-214-q9xEPe {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 14px;
  width: 511px;
}
.web-1920-18 .invisible-box-30U4XI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-IF9YC5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-Ogtyn9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-ZtXogr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-mN00xq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-oFSGHE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-oKp30M {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-18 .invisible-box-zotCyN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 58px;
}
.web-1920-18 .item-84keex {
  background-color: transparent;
  color: rgba(112,112,112,1.0);
  font-family: 'HelveticaNeue-Regular', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 369px;
}
.web-1920-18 .layer-2-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 36px;
  position: absolute;
  top: 74px;
  width: 48px;
}
.web-1920-18 .layer-2-6sb1qn {
  background-color: transparent;
  height: 48px;
  left: 1582px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-18 .layer-2-BJQsbv {
  background-color: transparent;
  height: 48px;
  left: 1678px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-18 .layer-2-BdpSxK {
  background-color: transparent;
  flex-shrink: 1;
  height: 92px;
  position: relative;
  width: 92px;
}
.web-1920-18 .layer-2-Xi618D {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 25px;
  position: relative;
  width: 48px;
}
.web-1920-18 .layer-2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  position: relative;
  width: 48px;
}
.web-1920-18 .layer-2-ovOecM {
  background-color: transparent;
  height: 58px;
  left: 64px;
  position: absolute;
  top: 68px;
  width: 94px;
}
.web-1920-18 .layer-2-wPpLiT {
  background-color: transparent;
  height: 48px;
  left: 1784px;
  position: absolute;
  top: 68px;
  width: 48px;
}
.web-1920-18 .midcentury-desk-qtok40 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 369px;
}
.web-1920-18 .ottoman-YMDMsb {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 369px;
}
.web-1920-18 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 179px;
  margin-top: 0px;
  position: relative;
  width: 1921px;
}
.web-1920-18 .overlap-group1-BdpSxK {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 147px;
  position: relative;
  width: 982px;
}
.web-1920-18 .overlap-group2-NwNIwt {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 22px;
  position: relative;
  width: 918px;
}
.web-1920-18 .overlap-group3-AYFtQ1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 22px;
  position: relative;
  width: 918px;
}
.web-1920-18 .overlap-group4-iuat1W {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 22px;
  position: relative;
  width: 918px;
}
.web-1920-18 .overlap-group5-uuB7Ma {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 22px;
  position: relative;
  width: 918px;
}
.web-1920-18 .overlap-group6-ALYuUF {
  background-color: transparent;
  flex-shrink: 1;
  height: 83px;
  margin-left: 22px;
  position: relative;
  width: 918px;
}
.web-1920-18 .path-19-xZiElb {
  background-color: transparent;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-18 .path-20-xZiElb {
  background-color: transparent;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 100%;
}
.web-1920-18 .path-21-xZiElb {
  background-color: transparent;
  bottom: 0px;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.web-1920-18 .polygon-1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 68px;
  margin-right: 71.0px;
  margin-top: 56px;
  object-fit: cover;
  position: relative;
  width: 71px;
}
.web-1920-18 .rectangle-11-84keex {
  background-color: var(--white);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .rectangle-12-x2mEEx {
  background-color: var(--white);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .rectangle-13-YMDMsb {
  background-color: var(--white);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .rectangle-14-qtok40 {
  background-color: var(--white);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .rectangle-142-q9xEPe {
  background-color: rgba(38,97,65,0.184);
  border-radius: 40px;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 982px;
}
.web-1920-18 .rectangle-15-Z2ofyd {
  background-color: var(--white);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .rectangle-51-4eduM0 {
  background-color: var(--green-pea-2);
  height: 179px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1921px;
}
.web-1920-18 .rectangle-9-84keex {
  background-color: var(--white);
  border: 1px solid rgba(112,112,112,1.0);
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 918px;
}
.web-1920-18 .red-and-blue-couch-Z2ofyd {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 435px;
}
.web-1920-18 .robert-edwards-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 237px;
}
.web-1920-18 .robert-edwards-BJQsbv {
  background-color: transparent;
  height: auto;
  left: 386px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 237px;
}
.web-1920-18 .signed-baseball-bat-x2mEEx {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 369px;
}
.web-1920-18 .x1-NwNIwt {
  background-color: transparent;
  color: var(--green-pea);
  flex-shrink: 1;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-top: 3.0px;
  min-height: 36px;
  position: relative;
  text-align: left;
  width: 27px;
}
.web-1920-18 .x2-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 1820px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 68px;
  width: 30px;
}
.web-1920-18 .x2-AYFtQ1 {
  background-color: transparent;
  color: var(--green-pea);
  flex-shrink: 1;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-top: 3.0px;
  min-height: 36px;
  position: relative;
  text-align: left;
  width: 27px;
}
.web-1920-18 .x3-iuat1W {
  background-color: transparent;
  color: var(--green-pea);
  flex-shrink: 1;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-bottom: 13.0px;
  min-height: 36px;
  position: relative;
  text-align: left;
  width: 27px;
}
.web-1920-18 .x4-uuB7Ma {
  background-color: transparent;
  color: var(--green-pea);
  flex-shrink: 1;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-top: 3.0px;
  min-height: 36px;
  position: relative;
  text-align: left;
  width: 27px;
}
.web-1920-18 .x5-ALYuUF {
  background-color: transparent;
  color: var(--green-pea);
  flex-shrink: 1;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-top: 3.0px;
  min-height: 36px;
  position: relative;
  text-align: left;
  width: 27px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cararra: rgba(235,235,235,1.0);
  --concrete: rgba(242,242,242,1.0);
  --galliano: rgba(219,170,0,1.0);
  --green-blue: rgba(31,120,180,1.0);
  --green-pea: rgba(38,97,65,1.0);
  --green-pea-2: rgba(38,97,65,0.992);
  --shady-lady: rgba(170,170,170,1.0);
  --tundora: rgba(68,68,68,1.0);
  --white: rgba(255,255,255,1.0);
}
